@use "../../scss/breakpoints";

.client-place {
  display: flex;
  gap: 7px;
  align-items: center;
  color: #dbdbdb;
  pointer-events: none;

  &--dancefloor {
    cursor: pointer;
    pointer-events: all;

    .client-place__svg-place {
      r: 10;
    }
  }

  &__svg-hole {
    pointer-events: none;
  }

  &__svg {
    width: 24px;
    height: 24px;
    overflow: visible;
    // todo
    // color: #9013fe;
    cursor: pointer;
  }

  // &__svg-hole {
  // }

  &__title {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }
  $block-name: &; // #{$block-name}__element

  &.active {
    .client-place__svg-place {
      r: 10;
    }
  }

  &:not(.client-place--dancefloor).added {
    .client-place__svg-place {
      r: 23;

      @media (max-width: 768px) {
        r: 21px;
      }
    }

    .client-place__svg-hole {
      r: 9;
      color: #fff;
    }
  }

  &.available {
    cursor: pointer;
    pointer-events: all;
  }

  &.inactive {
    opacity: 0.1;
    pointer-events: none;

    .client-place__svg-place {
      r: 10;
    }
  }

  &.client-place--dancefloor.inactive {
    opacity: 0.1;
    pointer-events: none;

    .client-place__svg-place {
      r: 10;
    }
  }
}
