@use "../../scss/breakpoints";

.confirmation {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex-grow: 1;
    padding: 20px 30px;
    background-color: rgb(229 229 229);
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
  }

  &__tickets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
  }

  &__title + &__tickets {
    margin-top: 20px;
  }

  &__tickets-title {
    color: #979797;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__tickets-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  &__tickets-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }

  &__contacts {
    padding: 20px;
    background-color: #fff;
  }

  &__title + &__contacts {
    margin-top: 10px;
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px 20px;
    // gap: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;

    a {
      color: #00bcd5;
      text-decoration: none;
    }
  }

  &__agreement-paragraph {
    margin: 0;
  }

  &__contacts + &__agreement {
    // margin-top: 16px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 -4px 15px 0 rgb(0 0 0 / 10%);
  }

  &__footer-button--secondary {
    min-width: 320px;
    height: 40px;
    padding: 12px 30px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    border: 1px solid rgb(224 224 224);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgb(238 238 238);
    }
  }

  &__footer-button--primary {
    min-width: 320px;
    height: 40px;
    padding: 12px 30px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    background-color: #00bcd5;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: hsl(187deg 100% 38%);
    }
  }
}

.confirmation-ticket {
  display: flex;
  flex-direction: column;

  &__place {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__price {
    color: #979797;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }
}
