@use "../../scss/breakpoints";

.button {
  padding: 10px 50px;
  color: var(--front-primary-inverted);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  background-color: var(--blue-dark);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;

  // disabled
  &:disabled {
    background-color: var(--gray-300);
    pointer-events: none;
  }

  &:hover {
    background-color: var(--blue);
  }
}
