@use "../../scss/breakpoints";

.page {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: grid;
  grid-template-areas: "header header" "sidebar center";
  grid-template-columns: var(--aside-width) calc(100% - var(--aside-width));
  gap: 20px 30px;

  &__inner {
    position: relative;
  }

  &__title {
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0;
  }

  &__title + &__inner {
    margin-top: 28px;
  }

  &__header {
    grid-area: header;
  }

  &__main {
    margin-top: 11px;
    padding-right: 30px;
  }
}
