@use "../../scss/breakpoints";

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.session-widget-client {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    height: 100vh;
    min-height: 350px;
    max-height: calc(100vh - 61px);
    background: rgb(249 249 249);
    border: 1px solid rgb(155 155 155);
  }

  &__seats {
    position: relative;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding: 90px 40px 50px;

    &.loading {
      opacity: 0.1;
    }

    &.draggable {
      cursor: grab;
    }
  }

  &__loader {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__filters {
    display: flex;
    gap: 40px;
    padding: 10px;
    overflow-x: auto;
  }

  &__places-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 75px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 23px;
    transform: translateY(-50%);
  }

  &__dancefloor {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 393px;
    padding: 23px 0;
    border-top: 1px solid rgb(231 231 231);
    border-bottom: 1px solid rgb(231 231 231);
  }

  &__result {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    padding: 16px 19px;
    border: 1px solid var(--gray-400);
    border-top-width: 0;
  }

  &__result-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    white-space: nowrap;
  }

  &__result-cards {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-right: 20px;
  }

  // sector

  &__sector {
    display: flex;
    gap: 20px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__row-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }
}
