//- Все примеси в этом файле должны начинаться c имени блока (header-client)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header-client(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header-client("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header-client--" + modsList[i].trim();
      }
    }

  .header-client(class=allMods)&attributes(attributes)
    .header-client__inner
      .header-client__content
        h2.header-client__title Матч СКА - ЦСКА
        span.header-client__date СБ, 1 сентября 19:00
      button.header-client__close-button
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.97619 0C1.33957 0 0 1.33957 0 2.97619V22.0238C0 23.6604 1.33957 25 2.97619 25H22.0238C23.6604 25 25 23.6604 25 22.0238V2.97619C25 1.33957 23.6604 0 22.0238 0H2.97619ZM2.97619 1.19048H22.0238C23.017 1.19048 23.8095 1.98305 23.8095 2.97619V22.0238C23.8095 23.017 23.017 23.8095 22.0238 23.8095H2.97619C1.98305 23.8095 1.19048 23.017 1.19048 22.0238V2.97619C1.19048 1.98305 1.98305 1.19048 2.97619 1.19048ZM6.72168 7.56375L7.56338 6.72205L12.4997 11.6583L17.436 6.72205L18.2777 7.56375L13.3414 12.5L18.2777 17.4363L17.436 18.278L12.4997 13.3417L7.56338 18.278L6.72168 17.4363L11.658 12.5L6.72168 7.56375Z" fill="white"/>
        </svg>
