extends ../templates/template__default-client.pug

block variables
  - isMainPage = false
  - pageTitle = "Покупка билетов"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  .session-widget-client
    +header-client
    .session-widget-client__content.js-client-choose-place
      .session-widget-client__filters.js-filters-container
      .session-widget-client__seats.js-client-seats-page

        +loader(class="seats__loader js-loader hidden")
        .session-widget-client__inner.js-seats-container(style="transform: matrix(1, 0, 0, 1, 0, 0)")
          .session-widget-client__dancefloor
            .client-place.client-place--dancefloor.js-place-dancefloor(draggable='false'  data-sector='1' data-row="dancefloor" data-place='dancefloor' data-price='2000' data-ticket-number='dancefloor'  data-ticket-link='/ticket-link')
              svg.client-place__svg.js-place( draggable='false' viewbox='0 0 20 20')
                g
                  circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                  circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
              span.client-place__title Танцпол

          .session-widget-client__sector.sector.js-sector(data-sector="1")
            .session-widget-client__row(draggable='false')
              .session-widget-client__places-row(draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='1' data-price='233' data-ticket-number='1243'  data-ticket-link='/ticket-link')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='2' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='3' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='4' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='5' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='6' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='7' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="4"  data-place='8' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
              span.session-widget-client__row-name(draggable='false') 4
            .session-widget-client__row(draggable='false')
              .session-widget-client__places-row(draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='1' data-price='233' data-ticket-number='1243'  data-ticket-link='/ticket-link')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='2' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='3' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='4' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='5' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='6' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='7' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="3"  data-place='8' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')

              span.session-widget-client__row-name(draggable='false') 3
            .session-widget-client__row(draggable='false')
              .session-widget-client__places-row(draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='1' data-price='233' data-ticket-number='1243'  data-ticket-link='/ticket-link')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='2' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2" data-place='3' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='4' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='5' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2" data-place='6' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='7' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="2"  data-place='8' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
              span.session-widget-client__row-name(draggable='false') 2
            .session-widget-client__row(draggable='false')
              .session-widget-client__places-row(draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-row="1"  data-sector='1' data-place='1' data-price='233' data-ticket-number='1243'  data-ticket-link='/ticket-link')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='2' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='3' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='4' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='5' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='6' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='7' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
                .client-place.js-place-wrapper(draggable='false' data-sector='1' data-row="1" data-place='8' data-price='233' data-ticket-number='1243')
                  svg.client-place__svg.js-place(draggable='false' viewbox='0 0 20 20')
                    g
                      circle.client-place__svg-place(cx='10' cy='10' r='5' fill='currentColor')
                      circle.client-place__svg-hole(cx='10' cy='10' r='3' fill='currentColor' draggable='false')
              span.session-widget-client__row-name(draggable='false') 1
      //- todo
      .session-widget-client__result.js-results-block.hidden
        .session-widget-client__result-cards.js-result-cards.hidden

        .session-widget-client__dancefloor-counter.seats-counter.js-seats-counter.hidden
          .seats-counter__text
            span.seats-counter__title Танцпол
            span.seats-counter__value 2 000 ₽
          .seats-counter__input-wrapper
            button.seats-counter__input-button.js-seats-counter-decrement(type="button") -
            input.seats-counter__input.js-seats-counter-input(type="number" readonly value='1')
            button.seats-counter__input-button.js-seats-counter-increment(type="button") +


        button.session-widget-client__result-button.js-to-confirmation-button
          span.session-widget-client__result-button-title Далее:&nbsp;
          span.session-widget-client__result-button-value.js-result-text
      .session-widget-client__controls
        button.session-widget-client__control.zoom-button.js-plus-button +
        button.session-widget-client__control.zoom-button.js-minus-button −

    .confirmation.js-tickets-confirmation.hidden
      .confirmation__content
        h2.confirmation__title Проверьте билеты
        .confirmation__tickets
          .confirmation__tickets-title Билеты
          ul.confirmation__tickets-list.js-tickets-container
            li.confirmation__tickets-item.confirmation-ticket
              span.confirmation-ticket__place 4 ряд, 8 место, сектор 6
              span.confirmation-ticket__price 2 000 ₽
            li.confirmation__tickets-item.confirmation-ticket
              span.confirmation-ticket__place 4 ряд, 7 место, сектор 6
              span.confirmation-ticket__price 2 000 ₽
            li.confirmation__tickets-item.confirmation-ticket
              span.confirmation-ticket__place 3 ряд, 8 место, сектор 6
              span.confirmation-ticket__price 2 000 ₽
        .confirmation__tickets-total
          span.confirmation__tickets-total-key ИТОГО
          span.confirmation__tickets-total-value.js-tickets-total-value 8 000 ₽


        h2.confirmation__title Данные для получения билетов
        .confirmation__contacts
        //- todo

        .confirmation__agreement
          p.confirmation__agreement-paragraph После оплаты купленный билет будет направлен на указанный Вами e-mail. Вы можете также скачать билет по завершении оплаты.
          p.confirmation__agreement-paragraph Совершая оплату, вы принимаете и соглашаетесь с условиями "<a href="#">Политики конфиденциальности</a>" и "<a href="#">Пользовательского соглашения</a>"


      .confirmation__footer
        button.confirmation__footer-button--secondary.js-back-to-place-choose-button НАЗАД
        button.confirmation__footer-button--primary ВСЕ ВЕРНО, ПЕРЕЙТИ К ОПЛАТЕ

