extends ../templates/template__default-client.pug

block variables
  - isMainPage = false
  - pageTitle = "Покупка билетов"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  .client-payment-success
