@use "../../scss/breakpoints";

.sector {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__title + &__row {
    margin-top: 25px;
  }

  &__row + &__row {
    margin-top: 20px;
  }

  &__row-places {
    width: 197px;
    height: 20px;
  }

  &__row-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
  }

  &__place {
    display: inline-block;
    margin: 0 3px;
    position: relative;
    width: 10px;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--gray-500);
    pointer-events: none;

    &.available {
      cursor: pointer;
      pointer-events: all;
    }

    &[data-color="green"] {
      r: 6;
      color: var(--green);
    }
    &[data-color="blue"] {
      r: 6;
      color: var(--blue);
    }
  }
}
