@use "../../scss/breakpoints";

.sector {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
  }

  &__row-svg {
    width: 170px;
    height: 20px;
    overflow: visible;
  }

  &__row {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__title + &__row {
    margin-top: 25px;
  }

  &__row + &__row {
    margin-top: 20px;
  }

  &__row-places {
    width: 197px;
    height: 20px;
  }

  &__row-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__place-hole {
    r: 0;
    pointer-events: none;
  }

  &__place {
    position: relative;
    display: inline-block;
    width: 10px;
    min-width: 10px;
    height: 10px;
    margin: 0 3px;
    color: var(--gray-500);
    border-radius: 50%;
    pointer-events: none;

    &.available {
      cursor: pointer;
      pointer-events: all;
    }

    &[data-color="green"] {
      color: var(--green);
      r: 10;
    }

    &[data-color="blue"] {
      color: var(--blue);
      r: 10;
    }

    &.added {
      r: 12;

      & + #{$block-name}__place-hole {
        r: 3;
      }
    }
  }
}
