@use "../../scss/breakpoints";

.aside {
  $block-name: &; // #{$block-name}__element

  &__link {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0px;
    text-decoration: none;

    &:hover {
      color: var(--gray-500);
    }
  }

  &__link-icon {
    width: 18px;
    height: 18px;
    color: var(--front-primary);
    transition: color 0.2s ease-in;
  }
}
