@use "../../scss/breakpoints";

.aside {
  $block-name: &; // #{$block-name}__element
  &__link-icon {
    width: 18px;
    height: 18px;
    color: var(--front-primary);
    transition: color 0.2s ease-in;
  }

  &__link {
    display: flex;
    gap: 17px;
    align-items: center;
    padding: 0 24px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-decoration: none;
    color: var(--front-primary);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--gray-500);

      #{$block-name}__link-icon {
        color: var(--gray-500);
      }
    }
  }
}
